<!DOCTYPE html>
<html>
<head>
    <title>Cats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            ntegrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        function imageClick(url){
            window.location = url;
        }


    </script>
    <style type="text/css">
        img{
            width: 180px;
            height: 180px;
            display: block;
            margin-top: 30px;
            border-radius: 90%;
            border: 1px solid violet;
            margin-left: 500px;
        }
    </style>
</head>
<body>
    <div style="background-color: violet; width: 1140px; height: 100px; color: black; font-size: 300%; text-align: center">EJS cats</div>
    <img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=animal-animal-photography-cat-104827.jpg&fm=jpg' alt="cat" onclick="imageClick('cat/cat1')"/>

    <img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=animal-animal-photography-cat-104827.jpg&fm=jpg'/>
    <img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=animal-animal-photography-cat-104827.jpg&fm=jpg'/>
    <img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=animal-animal-photography-cat-104827.jpg&fm=jpg'/>

</body>
</html>