<!DOCTYPE html>
<head>
    <title>Survey Form</title>


</head>
<body>
<h1>Submitted Information</h1>
<label>Name: </label> <%= info.name%> <br>
<label>Dojo Location: </label> <%= info.location%> <br>
<label>Favorite Language: </label> <%= info.language%> <br>
<label>Commnet: </label> <%= info.comment%> <br>

</body>